<div>
    <p>Make this form run via AJAX!</p>
    <form action="users/create" method="post">
        <p>Username <input name="username"></input></p>
        <p>Email <input name="email"></input></p>
        <p>Password <input name="password" type="password"></input></p>
        <p>Password again: <input name="passwordagain" type="password"></input></p>
        <p>Maybe put the race picker into another dialogue</p>
        <p>Race <select name="race">
            <option value="Human">Human</option>
            <option value="Demon">Demon</option>
            <option value="Angel">Angel</option>
            <option value="Ghoul">Ghoul</option>
        </select>
        </p>
        <input type="submit" value="Create User"></input>
    </form>
</div>
